{% extends "gridapp/base.html" %}
{% load staticfiles %}
{% block title %}<title>Django - Ana Sayfa</title>{% endblock %}

{% block logincss %}
{% endblock %}
{% block haberler %}
{% endblock %}
{% block hakkimizda %}
{% endblock %}
{% block iletisim %}
{% endblock %}
{% block giris %}
{% endblock %}
{% block login %}
{% endblock %}
{% block logged_out %}
{% endblock %}
{% block password_reset_form %}
{% endblock %}
{% block password_reset_done %}
{% endblock %}
{% block password_reset_email %}
{% endblock %}
{% block password_reset_confirm %}
{% endblock %}
{% block password_reset_complete %}
{% endblock %}
{% block register %}
{% endblock %}
