{% extends "gridapp/base.html" %}
{% load staticfiles %}
{% block title %}<title>Şifre Onaylama - Benim site</title>{% endblock %}

{% block slidecss %}
{% endblock %}
{% block isimcss %}
{% endblock %}
{% block script %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block hosgeldin %}
{% endblock %}
{% block slide %}
{% endblock %}
{% block hakkimizda %}
{% endblock %}
{% block haberler %}
{% endblock %}
{% block iletisim %}
{% endblock %}
{% block isim %}
{% endblock %}
{% block giris %}
{% endblock %}
{% block login %}
{% endblock %}
{% block logged_out %}
{% endblock %}
{% block password_reset_form %}
{% endblock %}
{% block password_reset_done %}
{% endblock %}
{% block password_reset_email %}
{% endblock %}
{% block password_reset_complete %}
{% endblock %}
{% block register %}
{% endblock %}
